.main-view-container {
  padding-bottom: 75px;
  padding-top: 150px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.footer-logout-button {
  margin: 0 auto;
}
