.mini-movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.mini-image {
  width: 100%;
  border-radius: 4px;
}

.mini-button {
  width: 100%;
}
