.signup-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button {
  margin-bottom: 5px;
  margin-top: 25px;
  width: 150px;
  text-align: center;
}

.login-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
}

.text-left {
  text-align: left;
}
