.signup-card {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form input {
  width: 100%;
  margin-bottom: 10px;
}

.signup-card .signup-form .signup-button,
.signup-card .signup-form .signup-button {
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
