.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 300px;
}

.movie-card-container {
  margin: 0;
  max-width: 15%;
  width: 100%;
}

.movie-image-container {
  margin: 25px auto;
  max-width: 80%;
  height: auto;
  display: block;
}

.movie-back-button-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-back-button {
  width: 100px;
}
