.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  margin: 20px;
  width: 150px;
  text-align: center;
}

.sign-up-button {
  width: 150px;
  text-align: center;
}
